{{#extends 'base'}}

{{#block 'css'}}
<link rel="stylesheet" href="/style/products.css">
{{/block}}

{{#block 'content'}}

<div class="row ms-2">

    <div>
        <h1>{{product.name}}</h1>
    </div>

    <div class="col-6 product-container py-2">
        {{!-- <img src="{{product.image_url}}" style="height:100%; width:100%; padding: 10px"></img> --}}
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{product.image_url}}" class="d-block w-100" alt="..."
                        style="height:100%; width:100%; padding: 10px">
                </div>
                <div class="carousel-item">
                    <img src="{{product.image_url}}" class="d-block w-100" alt="..."
                        style="height:100%; width:100%; padding: 10px">
                </div>
                <div class="carousel-item">
                    <img src="{{product.image_url}}" class="d-block w-100" alt="..."
                        style="height:100%; width:100%; padding: 10px">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-6 specifications-container">
        <div class="mx-auto specifications-section">
            <div class="ms-2" style="color: #fff; font-size: 20px">
                {{!-- <h4>Product Specifications</h4> --}}
                <ul class="list-group">
                    <li class="list-group-item" style="background: #fff !important">
                        <h4>Product Specifications</h4>
                    </li>
                    <li class="list-group-item list-group-item-action list-group-item-dark">Brand: <span
                            style="position: absolute; left:45%">{{product.brand.brand_name}}</span></li>
                    <li class="list-group-item list-group-item-action list-group-item-dark">Collection: <span
                            style="position: absolute; left:45%">{{product.collection.collection}}</span></li>
                    <li class="list-group-item list-group-item-action list-group-item-dark">Material: <span
                            style="position: absolute; left:45%">{{product.material.material}}</span></li>
                    <li class="list-group-item list-group-item-action list-group-item-dark">Surface: <span
                            style="position: absolute; left:45%">{{product.surface.surface}}</span></li>
                    <li class="list-group-item list-group-item-action list-group-item-dark">Color: <span
                            style="position: absolute; left:45%">{{product.colour.colour}}</span></li>
                    <li class="list-group-item list-group-item-action list-group-item-dark">Closure: <span
                            style="position: absolute; left:45%">{{product.closure.closure}}</span></li>
                    <li class="list-group-item list-group-item-action list-group-item-dark">Cutting: <span
                            style="position: absolute; left:45%">{{product.cutting.cutting}}</span></li>
                </ul>
                <a href="/products/{{product.id}}/update" class="ms-0  mt-4 btn btn-hover">
                    <i class="me-2 fa-solid fa-pen-to-square"></i> Update Product
                </a>
            </div>
        </div>
    </div>
    <div class="col-12" style="background: #fff; width: 90%; height: 100px"></div>
    <div class="variants-sectioncol-12" style="background: #0c0b14; color: white; width: 90%">
        {{!-- <a href="/products/{{product.id}}/variants/...." class="btn btn-hover">Add Size</a> --}}
        <div class="mt-4 ms-4" style="height:90%; width:90%">
            <h4>Size Availability</h4>
            <a href="/products/{{product.id}}/variants/create" class="my-3 btn btn-light">
                {{!-- <i class='bx bx-plus-circle' style="font-size: 17px"></i> --}}
                <i class="fa-solid fa-circle-plus"></i>
                Add Size
            </a>
            <table class="table" style="color: white">
                <thead>
                    <tr>
                        <th>Size</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if variants.length}}
                    {{#each variants}}
                    <tr>
                        <td>{{this.size.size}}</td>
                        <td>{{this.stock}}</td>
                        <td>
                            <a href="/products/{{this.product_id}}/variants/{{this.id}}/update" class="btn btn-dark">
                                <i class="fa-solid fa-pen-to-square"></i> Update
                            </a>
                            <a href="#" data-id="{{this.id}}" data-product-id="{{this.product_id}}" data-name="{{this.size.size}}"
                                class="btn btn-dark p-1 delete-alert" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Delete">
                                <i data-id="{{this.id}}" data-product-id="{{this.product_id}}" data-name="{{this.size.size}}"
                                    class="fa-solid fa-trash-can p-1 delete-btn"
                                    style="color:white; font-size: 18px"></i>
                            </a>
                            <a href="/cart/{{this.id}}/add" class="btn btn-success">Add to Cart</a>
                        </td>
                    </tr>
                    {{/each}}
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
    <div style="height: 100px"></div>
</div>

{{/block}}


{{#block 'js'}}

{{> sweetAlertJS deleteType="variant"}}

{{/block}}

{{/extends}}